<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>765895487459-uj2v5dopgv705r1kk3evoarh52scgotk.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.765895487459-uj2v5dopgv705r1kk3evoarh52scgotk</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>765895487459-1cfc4l83s5kfb38ttlfuhjmuabq0j4q0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCTtsm4UzPGSR-2n3dDc--q4RofQFvgHFA</string>
	<key>GCM_SENDER_ID</key>
	<string>765895487459</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>love.peachhub.app</string>
	<key>PROJECT_ID</key>
	<string>peach-hub-16c86</string>
	<key>STORAGE_BUCKET</key>
	<string>peach-hub-16c86.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:765895487459:ios:346892ebf1f4291385fad6</string>
</dict>
</plist>